.OrderItem {
    display: grid;
    grid-template-columns: 2px 1fr .5fr 1fr 1fr .5fr;
    cursor: pointer;
    transition: background-color .2s;
    color: #616161;

    & > .pointer {
        background-color: #009688;
        opacity: 0;
        transition: opacity .2s;
    }

    & > div:not(:first-child) {
        padding: 16px 16px 16px 16px;
        line-height: 24px;
        word-wrap: break-word;
        word-break: break-all;

        &::selection {
            background-color: #009688;
            color: #FAFAFA;
        }
    }

    &:hover {
        background-color: #FAFAFA;
    }

    &-selected {
        & > .pointer {
            opacity: 1;
        }
    }
}