.OrderItem {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr 1fr .5fr;
    cursor: pointer;
    transition: background-color .2s;

    & > div {
        padding-left: 16px;
        line-height: 24px;
        word-wrap: break-word;
        word-break: break-all;
    }

    &:hover {
        background-color: #FAFAFA;
    }
}