.OrderViewer {
    flex-basis: 0;
    box-shadow: -8px 0px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: flex-basis .5s;

    & > .header {
        height: 48px;
        line-height: 48px;
        padding-left: 16px;
        background-color: #4DB6AC;
        color: #FAFAFA;
        user-select: none;
    }

    &-displayed {
        flex-basis: 50%;
    }
}